.tic-tac-toe-container{
    clear: both;
    content: '';
    display: table;

}
.container{
    display: flex;
    flex-direction: column;
}
.square{
    border: 1px solid rebeccapurple;
    float: left;
    font-size: 40px;
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 0;
    margin: 1px;
    cursor: pointer;
}